# Вэтом файле можно оставлять коментарии
# Им файла .gitignore
# Файл нужно создавать самостоятельно
 
# Каждая строчка - это шаблон, по которому происходит игнорирование
 
# Игнорируем файл в любой директории проэекта
access.log
 
# Игнорируем директорию в любой директории проэкта
node_modules/
 
# Игнорируем каталог в корне рабочей директории
/coverage/
 
# Игнорируем все файлы с расширением sqlite3 в директории db
# При этом не игнориуются такие же файлы внутри любого вложенного каталога в db
# Например, /db/something/lala.sqlite3
/db/*.sqlite3
 
# Игнорировать все .txt файлы в каталоге doc/ на всех уровнях вложенности
doc/**/*.txt
INFO.md
